.theme {
    padding: .5% 5%;
    font-size: 1.5rem;
    font-weight: 500;
}

.pageInput {  // pagination input style
  width: 60px;
  text-align: center;
}

.strong {  // text bold
  font-weight: bold;
}